.nav-container {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  background:url(../images/nav_corner.png) no-repeat 100% 0%;
}
.mega-menu {
  background: url(../images/bg_nav.gif) 0 0 repeat-x;
		border-top:solid 1px #dedfe3;
		border-radius:6px 6px 0 0;
  font-size: 13px;
  line-height: 17px;
		margin:0 -30px;
}
.mega-menu > li {
  float: left;
  text-align: left;
  position: relative;
  border-right: 1px solid #74787d;
  z-index: 99;
		margin-top:-1px;
		font-family:'Open Sans';
		font-size:19px;
		font-weight:bold;
		text-transform:uppercase;
		padding:1px 0 0 0;
}
.mega-menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding:22px 10px 23px 10px;
		-moz-text-shadow: 1px 1px 0px rgba (0,0,0,0.28);
		-webkit-text-shadow: 1px 1px 0px rgba (0,0,0,0.28);
		text-shadow: 1px 1px 0px rgba(0,0,0,0.28); 
}
.mega-menu li.first a {
	border-radius:6px 0 0 0;
}
.mega-menu > li > a > span {
  cursor: pointer;
  white-space: nowrap;
}
.mega-menu li ul a span {  white-space: normal;}
.mega-menu > li.parent > a > span {  background: url(../images/marker-8.gif) center -59px no-repeat;}

.mega-menu > li.sfHover > a,
.mega-menu> li > a:hover,
.mega-menu > li.active > a {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ca0a6', endColorstr='#80858b');
  background: -webkit-gradient(linear, left top, left bottom, from(#9ca0a6), to(#80858b));
  background: -moz-linear-gradient(top, #9ca0a6, #80858b);
  background: -o-linear-gradient(top, #9ca0a6, #80858b);
  background: -ms-linear-gradient(top, #9ca0a6, #80858b);
		border-bottom:solid 2px #fdc008;
		padding-bottom:21px;
}

.mega-menu > li.sfHover > a span,
.mega-menu > li > a:hover span,
.mega-menu > li.active > a span {  color: #fff;}
.mega-menu li a:hover {  text-decoration: none;}

.mega-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 240px;
  display: none;
  background: #41464b;
		border:solid 1px #32373c;
}
.mega-menu li li {
  border-bottom: 1px solid #32373c;
		font-size:15px;
		font-weight:normal;
		text-transform:none;
}
.mega-menu li li.last {  border-bottom: none;}
.mega-menu li li.sfHover,
.mega-menu li li,
.mega-menu li li:hover {
  float: none;
  border-right: none;
  position: relative;
}
.mega-menu li li a,
.mega-menu li.sfHover li a,
.mega-menu li.active li a {
  display:block;
  background: none;
  color: #fff;
  padding: 11px 12px 13px 12px;
		-moz-text-shadow:none;
		-webkit-text-shadow:none;
		text-shadow:none; 
}
.mega-menu li li > a:hover,
.mega-menu li li.sfHover > a,
.mega-menu li li.active > a {  color: #fdc008; background:#4f555b; }

.mega-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 100;
  width: 192px;
}
.mega-menu li:hover ul,
.mega-menu li.sfHover ul {
  left: 0px;
  top: 63px;
  /* match top ul list item height */
}

ul.mega-menu li:hover li ul,
ul.mega-menu li.sfHover li ul {
  top: -999em;
}
ul.mega-menu li li:hover ul,
ul.mega-menu li li.sfHover ul {
  left: 240px;
  /* match ul width */
  top: -1px;
}
ul.mega-menu li li:hover li ul,
ul.mega-menu li li.sfHover li ul {
  top: -999em;
}
ul.mega-menu li li li:hover ul,
ul.mega-menu li li li.sfHover ul {
  left: 240px;
  /* match ul width */
  top: -1px;
}
@media only screen and (min-width: 980px) {
    #menu-icon,
    .mega-menu-phone {  display: none !important;}
}
@media only screen and (max-width: 979px) {
  .mega-menu,
  .mega-menu-phone {display: none;}
  /* menu icon */
		.nav-container { background:none; }
  #menu-icon {
    display: block;
    background: url(../images/menu-icon-bg.png) 95% 11px no-repeat #40454b;
    border-bottom: 2px solid #fdc008;
				border-top: 2px solid #fdc008;
    font-size: 17px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 0 0 20px;
    height: 33px;
    margin: 0;
  }

  #menu-icon.active { background-position: 95% -47px;  }

  .mega-menu-phone {
    background: #40454b;
    position: relative;
    padding: 13px 20px 20px;
    z-index: 2;
    margin: 0;
  }
  .mega-menu-phone li { padding: 8px 0;  position: relative; font-size: 18px;  }
  .mega-menu-phone > li {  border-bottom: 1px solid #515050; }
  .mega-menu-phone li a { display: inline-block;  color: #fff;  }
  .mega-menu-phone li a:hover { color: #B90100; }
  .mega-menu-phone li li {font-size: 14px; padding: 3px 0; }
  .mega-menu-phone li li.last { padding-bottom: 0;  }
  .mega-menu-phone li strong {
    position: absolute;
    display: block;
    background: url(../images/toogle-button2.png) center -54px no-repeat;
    top: 4px;
    right: 0;
    height: 24px;
    width: 24px;
  }
  .mega-menu-phone li strong:hover { cursor: pointer; }
  .mega-menu-phone li strong.opened { background-position: center 7px; }

  /* dropdown */
  .mega-menu-phone ul {  width: auto;  padding: 8px 0 0 20px;  display: none;  }
  .mega-menu-phone > li.active > a > span {color: inherit;}
  .mega-menu-phone > li.active > a,
  .mega-menu-phone > li > a:hover { color: #fdc008;  }

  .mega-menu-phone li li.active > a,
  .mega-menu-phone li li a:hover {color: #fdc008;}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
   #menu-icon,
   .mega-menu-phone {margin: 0;}
}

/* Reset */
.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.nav a { text-decoration: none; }

.nav li { list-style: none; }

/* Menu Container */
.nav {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500;
}

/* Menu List */
.nav > li {
	display: block;
	float: left;
}

/* Menu Links */
.nav > li > a {
	position: relative;
	display: block;
	z-index: 510;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.nav > li:hover > a {}

.nav > li:first-child > a {
	border-radius: 3px 0 0 3px;
	border-left: none;
}

/* Menu Dropdown */
.nav > li > div {
	position: absolute;
	display: block;
	width: 100%;
	top: 50px;
	left: 0;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	background: #ffffff;
	border-radius: 0 0 3px 3px;

	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}

.nav > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */
.nav .nav-column {
	float: left;
	width: 20%;
	padding: 2.5%;
}

.nav .nav-column h3 {
	margin: 20px 0 10px 0;
	line-height: 18px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #372f2b;
	text-transform: uppercase;
}

.nav .nav-column h3.orange { color: #ff722b; }

.nav .nav-column li a {
	display: block;
	line-height: 26px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #888888;
}

.nav .nav-column li a:hover { color: #666666; }
